.classpath
.gradle
.project
.settings
.DS_Store
.idea
.vscode
.nqlocal

/client/python/conductor.egg-info
/docs/site
/server/node_modules

dump.rdb
buildscan.log
yarn.lock
yarn-error.log

bin/
build/

*.iml
*.pyc

/ui/dist
/ui/package-lock.json
/ui/.settings
/ui/node_modules

# publishing secrets
secrets/signing-key
